.Topbar{
   display: none;
}


@media only screen and (max-width: 700px) {
    .Topbar{
    display: flex;
    position: relative;
    z-index: 99;
    top: 0;

    background-color:#F4F4F5;
    align-items: center;
    min-width:5%;
    justify-content: space-between;

    h2{
        font-size: 1rem;
        padding-right: 1rem;
    }

    .icons{
        color:black;
    }
    }
}

