.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    z-index: 4;
  }

  .Modal{
    max-width: 400px;
    position: relative;
    margin: 0 auto;
    padding: 40px 20px;
    background: white;
    border-radius: 10px;
  }

  .CancelIcon{
    color:#ff3838;
    position: absolute;
    cursor:pointer;
    top:15px;
    right: 15px;

  }

  .CancelIcon:hover{
    color:#9b2323;
  }

  @media only screen and (max-width:450px){
    .Modal{
      max-width: 300px;
      padding: 30px 15px;
    }
  }