.itemCard{
    display: flex;
    font-size:2rem;
    margin: 1rem 0;
    color:#fff;
    justify-content: space-around;
    align-items: center;
    background-color: #3498db;
    border-radius: 5px;
    padding:2rem;

    img{
        width:80px;
        margin: 0 10px;
    }
}