.Cart{
    position: absolute;
    cursor: default;
    z-index: 5;
    max-width: 46%;
    height: 65%;
    width: 100%;
    margin-right: 5.5%;
    // position: relative;
    // margin: 0 auto;
    padding: 40px 20px;
    background: #ffffff;;
    border-radius: 10px;

    button{
        padding: 2rem 2rem;
        cursor: pointer;
        font-size: 1.5rem;
        color: white;
        text-transform: uppercase;
        background-color: #2ecc71;
        outline: none;
        width: 100%;
        border:none;
        border-radius: 5px;
        &:hover{
            background-color: #14a852; 
        }
        &:disabled{
            background-color: rgb(172, 167, 167);
            cursor:not-allowed;
        }

    }
}

.cartContainer{
    background-color: rgb(230, 228, 228);
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    p{
        color:rgb(23, 126, 243);
        font-size: 1.5rem;
    }
}
